<div class="author-footer">
  <img src="{{ site.author.photo | relative_url }}" alt="{{ site.author.name }}">
  <div class="author-info">
    <div class="author-name">{{ site.author.name }}</div>
    <div class="author-bio">{{ site.author.bio }}</div>
  </div>
  <div class="author-links">
    <a class="pill pill-outline" href="{{ site.author.github }}">GitHub</a>
    <a class="pill pill-outline" href="{{ site.author.linkedin }}">LinkedIn</a>
    <a class="pill pill-primary" href="{{ '/#cv' | relative_url }}">CV</a>
  </div>
</div>
